<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>Welcome, {{ session.user_name }}</h1>

    <h2>Heart Framingham Results</h2>
    {% if heart_fram_results %}
        <ul>
            {% for result in heart_fram_results %}
                <li>Prediction: {{ 'No Heart Disease' if result.prediction == 0 else 'Heart Disease' }} - Date: {{ result.created_at }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Heart Framingham results found.</p>
    {% endif %}

    <h2>Heart Combined Results</h2>
    {% if heart_combined_results %}
        <ul>
            {% for result in heart_combined_results %}
                <li>Prediction: {{ 'No Heart Disease' if result.prediction == 0 else 'Heart Disease' }} - Date: {{ result.created_at }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Heart Combined results found.</p>
    {% endif %}

    <h2>Diabetes Results</h2>
    {% if diabetes_results %}
        <ul>
            {% for result in diabetes_results %}
                <li>Prediction: {{ 'No Diabetes' if result.prediction == 0 else 'Diabetes' }} - Date: {{ result.created_at }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Diabetes results found.</p>
    {% endif %}
</body>
</html>
